<% content_for :title, "Admin dashboard" %>

<h1>Admin Dashboard</h1>

<div class="flex gap-4">
  <div class="card">
    <h2>Total Users</h2>
    <p><%= @total_users %></p>
  </div>

  <div class="card">
    <h2>Total Posts</h2>
    <p><%= @total_posts %></p>
  </div>
</div>


